<div class="card-columns">
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'girlschool2.jpg', width: 300, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'momprom.jpg', width: 165, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'familyof6.jpg', width: 350, height: 200 %>
  </div>
 <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'girlpurple.jpg', width: 150, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'letterman.jpg', width: 150, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'promback.jpg', width: 146, height: 200 %>
  </div>
</div>