<div id="container">
  <div class="photobanner">
    <img class="first"><%= image_tag 'girl_violin.jpg', width: 150, height: 200 %>
    <%= image_tag 'girl_blue_chair.jpg', width: 350, height: 200 %>
    <%= image_tag 'leather_girl_chair.jpg', width: 150, height: 200 %>
    <%= image_tag 'boyschoolsmiling.jpg', width: 300, height: 200 %>
    <%= image_tag 'graduation_gold.jpg', width: 150, height: 200 %>
    <%= image_tag 'family_bridge.jpg', width: 160, height: 200 %>
    <%= image_tag 'girl_violin.jpg', width: 150, height: 200 %>
    <%= image_tag 'girl_blue_chair.jpg', width: 350, height: 200 %>
    <%= image_tag 'leather_girl_chair.jpg', width: 150, height: 200 %>
  </div>
</div>