<div class="photo-columns1">
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'familybeach.jpg', width: 200, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'boyspool.jpg', width: 325, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'amycoffaro.jpg', width: 165, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'about.jpg', width: 300, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'boysbridge.jpg', width: 275, height: 200 %>
  </div>
</div>