<div class="photo-columns">
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'girl_violin.jpg', width: 150, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'girl_blue_chair.jpg', width: 350, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'leather_girl_chair.jpg', width: 150, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'boyschoolsmiling.jpg', width: 300, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'graduation_gold.jpg', width: 150, height: 200 %>
  </div>
  <div class="photo">
    <img class="card-img img-fluid"><%= image_tag 'family_bridge.jpg', width: 160, height: 200 %>
  </div>
</div>